@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');
App {
  text-align: center;
}
*{
  background-color: #282c34;
}
.container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 105%;
  margin-top: 30px;
  margin-left: 65px;
  text-align: center;
}
.li-container{
  border: #61dafb solid 1px;
    margin:90px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 30px;
    font-family: 'Poppins',sans-serif;
}

.link-container{
  text-decoration: none;
  color: white; 
  /* border-radius: 5px; */
  /* padding: 60px; */
}

.all-cards{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin-top: 30px;
}

.card{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 500px;
  padding: 20px;
  font-size: 15px;
  background-color: none;
  background-color: #f2f2f2;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 250px;
  margin-right: 250px;
  font-family: 'Poppins', sans-serif;
  text-align:  center;
}

.fn , .ln , .email{
  background-color: #f2f2f2;
}

.img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: #282c34 solid 2px; */
}